.auto .auto-article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 45px 120px;
    border-radius: 12px;
    box-shadow: 1px 1px 12px 3px white;
}

.auto .auto-title {
  font-size: 47px;
  color: white;
  border-bottom: 2px solid white;
  margin: 0;
}

.auto .auto-btn {
    font-size: 30px;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 15px 25px;
    border-radius: 18px;
    background: #1D2733;
}

.auto .auto-btn:hover {
    cursor: pointer;
    background: white;
    color: #1D2733;
    transition: all 0.3s ease;
}

.auto .auto-img {
    max-width: 45vw;
    padding: 25px 0;
}

.auto-img img {
    width: 100%;
    object-fit: contain;
}

/* responsive styling */

@media (max-width: 810px) {
    .auto .auto-title {
        font-size: 40px;
    }
  
    .auto .auto-btn {
        font-size: 20px;
    }
  }
  
  @media (max-width: 450px) {
      .auto .auto-title {
          font-size: 30px;
      }
    
      .auto .auto-btn {
          font-size: 15px;
      }
  }