.error,
.success,
.info {
    position: fixed;
    font-size: 22px;
    width: 100%;
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    text-align: center;
    z-index: 1;
}


.error {
    background-color: #F66359;
}

.success {
    background-color: #2FB986;
}

.info {
    background-color: #47A8F5;
}

.close-btn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .close-btn:hover {
    color: black;
  }