@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background: #1D2733;
}

/* navbar styling */

.nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background: #495768;
  border-bottom: 3px solid white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.nav li {
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.nav img{
  padding: 15px 35px;
  width: 200px;
}

.nav nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  padding-right: 20px;
}

.nav nav ul .nav-btn {
  font-size: 20px;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 12px;
  margin-left: 15px;
}

.nav nav ul .nav-icon {
  font-size: 20px;
  padding: 10px 5px;
}

.nav label {
  margin: 0 40px 0 0;
  font-size: 32px;
  line-height: 70px;
  color: white;
  display: none;
}

#toggle {
  display: none;
}

/* articles common styling */

.tech .tech-article,
.gadgets .gadgets-article,
.auto .auto-article,
.toys .toys-article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 45px 80px;
}

.tech-article, 
.gadgets-article,
.auto-article,
.toys-article {
  border-radius: 12px;
  box-shadow: 1px 1px 12px 3px white;
}

.tech .tech-title,
.gadgets .gadgets-title,
.auto .auto-title,
.toys .toys-title {
  font-size: 55px;
  color: white;
  border-bottom: 2px solid white;
  margin: 0;
}

.tech .tech-btn,
.gadgets .gadgets-btn,
.auto .auto-btn,
.toys .toys-btn {
  font-size: 35px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 15px 25px;
  border-radius: 18px;
  background: #1D2733;
}

.tech-img,
.gadgets-img,
.auto .auto-img,
.toys-img {
  max-width: 55vw;
  padding: 25px 0;
}

.tech-img img,
.gadgets-img img,
.auto-img img,
.toys-img img {
  width: 100%;
  object-fit: contain;
}

/* footer styling */

footer {
  background: #495768;
  color: white;
  text-align: center;
  padding: 20px 25px;
  font-size: 20px;
  letter-spacing: 2px;
}

footer a {
  text-decoration: none;
  color: #8875F0;
}

/* responsive styling */

@media (max-width: 810px) {
  .nav label {
    display: block;
    cursor: pointer;
    
  }

  .nav nav ul {
    flex: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .nav nav ul .nav-btn {
    margin-left: 0;
    width: 200px;
    text-align: center;
    margin-bottom: 15px;
  }

  #toggle:checked + ul {
    display: flex;
  }

  .tech .tech-title,
  .gadgets .gadgets-title,
  .auto .auto-title,
  .toys .toys-title {
	  font-size: 45px;
  }

  .tech .tech-btn,
  .gadgets .gadgets-btn,
  .auto .auto-btn,
  .toys .toys-btn {
	  font-size: 20px;
  }

}

@media (max-width: 450px) {
	.tech .tech-title,
	.gadgets .gadgets-title,
	.auto .auto-title,
	.toys .toys-title {
		font-size: 32px;
	}
  
	.tech .tech-btn,
	.gadgets .gadgets-btn,
	.auto .auto-btn,
	.toys .toys-btn {
		font-size: 15px;
	}
}