@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background: #1D2733;
}

/* articles common styling */

.tech .tech-article,
.gadgets .gadgets-article,
.auto .auto-article,
.toys .toys-article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 45px 80px;
}

.tech-article, 
.gadgets-article,
.auto-article,
.toys-article {
  border-radius: 12px;
  box-shadow: 1px 1px 12px 3px white;
}

.tech .tech-title,
.gadgets .gadgets-title,
.auto .auto-title,
.toys .toys-title {
  font-size: 55px;
  color: white;
  border-bottom: 2px solid white;
  margin: 0;
}

.tech .tech-btn,
.gadgets .gadgets-btn,
.auto .auto-btn,
.toys .toys-btn {
  font-size: 35px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 15px 25px;
  border-radius: 18px;
  background: #1D2733;
}

.tech-img,
.gadgets-img,
.auto .auto-img,
.toys-img {
  max-width: 55vw;
  padding: 25px 0;
}

.tech-img img,
.gadgets-img img,
.auto-img img,
.toys-img img {
  width: 100%;
  object-fit: contain;
}

/* responsive styling */

@media (max-width: 810px) {
  .tech .tech-title,
  .gadgets .gadgets-title,
  .auto .auto-title,
  .toys .toys-title {
	  font-size: 45px;
  }

  .tech .tech-btn,
  .gadgets .gadgets-btn,
  .auto .auto-btn,
  .toys .toys-btn {
	  font-size: 20px;
  }
}

@media (max-width: 450px) {
	.tech .tech-title,
	.gadgets .gadgets-title,
	.auto .auto-title,
	.toys .toys-title {
		font-size: 32px;
	}
  
	.tech .tech-btn,
	.gadgets .gadgets-btn,
	.auto .auto-btn,
	.toys .toys-btn {
		font-size: 15px;
	}
}