.toys .toys-article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 45px 120px;
    border-radius: 12px;
    box-shadow: 1px 1px 12px 3px white;
  }
  
  .toys .toys-title {
    font-size: 47px;
    color: white;
    border-bottom: 2px solid white;
    margin: 0;
  }
  
  .toys .toys-btn {
    font-size: 30px;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 15px 25px;
    border-radius: 18px;
    background: #1D2733;
  }
  
  .toys .toys-btn:hover {
      cursor: pointer;
      background: white;
      color: #1D2733;
      transition: all 0.3s ease;
  }
  
  .toys-img {
    max-width: 45vw;
    padding: 25px 0;
  }
  
  .toys-img img {
    width: 100%;
    object-fit: contain;
  }
  
  /* responsive styling */

  @media (max-width: 810px) {
    .toys .toys-title {
      font-size: 40px;
    }

    .toys .toys-btn {
      font-size: 20px;
    }
  }
  
  @media (max-width: 450px) {
    .toys .toys-title {
      font-size: 30px;
    }
    
    .toys .toys-btn {
      font-size: 15px;
    }
  }